.main {
    width: 100%;

    display: flex;
    flex-direction: column;
    border-left: 1px solid gray;
    box-shadow: 0px 0px 10px 0px gray;

    align-items: center;
    overflow-x: scroll;
}

/* ========================== */

.title {
    width: 100%;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title > h2 {
    color: forestgreen;
    padding-left: 10px;
}
.title > div > button {
    background-color: darkgray;
    width: 80px;
    height: 30px;
    border: 0;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

.title > div > button:nth-child(2):hover {
    background-color: rgb(104, 104, 111);
}

.title > div > button:nth-child(1):hover {
    background-color: #2980b9;
}

/* ======================= */
/* 주소 와 목적 */
/* ======================= */
.Container {
    width: 95%;
    margin-top: 50px;
}

.NameColor {
    width: 100%;
    height: 30px;
    display: flex;
}

.Name {
    flex: 1;
    display: flex;
}
.Color {
    display: flex;
    flex: 1;
}
.titleBox {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    font-weight: bolder;
    font-size: 13px;
}
.inputBox {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    font-size: 0.8rem;
}

.colorBox {
    width: 70%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}
.colorBox > div {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
/* ======= 주소 입력 , 목적 ========= */

.AddressPurpose {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 1px;
}
.address,
.purpose {
    flex: 1;
    display: flex;
}
/* ================ */
/* 인원수 , 예약 날짜 */
/* ================ */
.PeopleDate {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 1px;
}
.people {
    flex: 1;
    display: flex;
}
.people > div:nth-child(2) {
    display: flex;
    justify-content: left;
}

.people > div > span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    flex: 1;
    display: flex;
}

/* ======= 강의실 선택 ===== */
.ClassRoom {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 1px;
}
.ClassRoom > .titleBox {
    width: 15%;
    height: auto;
    min-height: 30px;
}
.ClassRoom > .inputBox {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.room {
    flex: 1;
    display: flex;
    margin-left: 10px;
}
.roomName {
    font-weight: bold;
}

.ClassRoom > div > div > div {
    gap: 5px;
    align-items: center;
    margin-block: 5px;
}

.ClassRoom > div > div > select {
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
}
.ClassRoom > div > div > div > select:nth-child(2) {
    width: 55px;
}
.ClassRoom > div > div > div > input {
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
    font-size: 11px;
    font-weight: 300px;
    width: 25%;
}
/* ===== 담당자 정보 ====== */
.CustomerInfo {
    width: 100%;
    height: auto;
    display: flex;
}
.CustomerInfo > div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.NameEmail {
    width: 100%;
    height: 30px;
    display: flex;
}
.Phone {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 1px;
}

.name,
.email,
.phone1,
.phone2 {
    flex: 1;
    display: flex;
}
/* ======= 예약 상태 ====== */
.State {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 1px;
}
.State > .titleBox {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding-right: 2px;
}
.State > .inputBox {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    border: 1px solid gray;
    margin-left: -2px;
    font-weight: bold;
}

/* ================ */
/* 예약 내용  */
/* ================ */
.Memo {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 1px;
}
.Memo > .titleBox {
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}
.Memo > .inputBox {
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid gray;
}
.Memo > .inputBox > textarea {
    width: 95%;
    margin-block: 10px;
    border: 1px solid rgb(191, 191, 191);
    min-height: 100px;
}
/* ================ */
/* 숙소 */
/* ================ */

.roomDetail {
    width: 100%;
}

.RoomBox {
    height: 30px;
    border: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RoomBox > span {
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 10px;
}

.RoomBox > select {
    margin-right: 10px;
}

/* ================ */
/* 식수 */
/* ================ */
.restaurantBox {
    width: 100%;
    border: 1px solid gray;
    height: 30px;
    display: flex;
    align-items: center;
}

.restaurantBox > span {
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 10px;
}

.restaurantDetail {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 30px;
    border: 1px solid gray;
    padding-top: 1px;
    align-items: center;
}

.restaurantDetailBox {
    display: flex;
    gap: 10px;
}

/* 데이터 없는경우 */
.noRooms {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noRestaurant {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noClassRoom {
    margin-left: 10px;
    font-weight: bolder;
}
